.Todo {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: dimgrey;
  margin-bottom: 1.5rem;
}

.TodoHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0.5rem 0;
}

.TodoContent {
  margin: 0.5rem
}

.TodoDate {
}

.TodoDelete {
  margin-left: 2rem;
  color: darkred;
  font-weight: bold;
}

.TodoTags {
  margin: 0.5rem
}